* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
}

/* {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.form-section {
  width: 100px;
}

h1,
h2,
h3 {
  font-family: 'Eczar', serif;
  font-weight: 500;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.hamburger {
  font-size: 45px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.footer {
  width: 100px;
}

.navbar {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: relative;
  top: 25%; /* 25% from the top */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  width: 100%;
}

.navbar a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  width: fit-content;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.navbar a:hover,
.navbar a:focus {
  color: #f1f1f1;
}

.navbar .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
