body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: beige;
}

.wrapper {
  max-width: 1300px; /* Begränsar sidans bredd */
  margin: 0 auto; /* Centrerar innehållet */
  padding: 0 20px; /* Ger lite luft vid sidorna */
}
